$gutter: 2%;

$primaryColor: #2d2926;
$secondaryColor: #c8102e;
$fontColor: #35373a;

$primaryColor2: #97999b;
$secondaryColor2: #eca154;


$primaryColor3: #bbbcbc;
$secondaryColor3: #c6aa76;




// $defaultFont: 'Lato', sans-serif;
// $normalWeight:300;
// $boldWeight:700;