/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif; }

nav {
  height: 70px;
  background-color: #2d2926;
  opacity: 0.98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  padding-right: 2%; }
  nav #about:hover {
    color: #eca154;
    cursor: pointer; }
  nav #about {
    color: #c8102e; }

main figure.mainbanner {
  width: 100%;
  display: grid;
  font-size: 32px;
  grid-column: 1/2;
  grid-row: 1/3;
  overflow: hidden; }
  main figure.mainbanner :hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: -webkit-transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95), -webkit-transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95); }
main figure.mainbanner img {
  width: 100%;
  max-height: 481px;
  grid-column: 1/2;
  grid-row: 1/3; }
main figure.mainbanner figcaption {
  color: #2d2926;
  font-size: 22px;
  grid-column: 1/2;
  grid-row: 3/3;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  opacity: 0.85; }
  main figure.mainbanner figcaption .slogan {
    color: #c8102e;
    font-family: 'Fugaz One', cursive; }
main #callbtn {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px; }
  main #callbtn button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2%; }
  main #callbtn #btn1 {
    background-color: #c8102e;
    color: #2d2926; }
    main #callbtn #btn1:hover {
      background-color: white;
      color: #c8102e;
      border: 1px solid black; }
  main #callbtn #btn2 {
    background-color: #2d2926;
    color: #c8102e; }
    main #callbtn #btn2:hover {
      background-color: white;
      color: #2d2926;
      border: 1px solid black; }
main #cards {
  margin: auto;
  max-width: 60%;
  display: grid;
  grid-template-columns: 1fr; }
main #linehauls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px; }

#redline {
  height: 5px;
  background-color: #c8102e; }

#footerwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#copy {
  color: white;
  opacity: 0.85; }

#copy:hover {
  color: #c8102e;
  cursor: pointer; }

@media only screen and (min-width: 560px) {
  main figure.mainbanner figcaption {
    color: white;
    font-size: 42px;
    grid-column: 1/2;
    grid-row: 1/3; } }
/* end media query */
@media only screen and (min-width: 1140px) {
  main figure.mainbanner figcaption {
    font-size: 72px; } }
